

.container {
  margin-top: -10px;
  width: 100%;
  height: 425px;
  position: relative;
  overflow: hidden;
  margin-bottom: 25px;
}

.container .sliders {
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: auto;
  max-height: 420px;
  overflow-y: scroll;
  width: 100%;
  position: absolute;
  transition: all 1s ease-in-out;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
#sld > div{
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 300px;
    height: 60px;
    border-radius: 10px;
    background: #fefeff;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
}


@media screen and (max-width: 767px) {
  
    #sld > div{
      scroll-snap-align: start;
      flex-shrink: 0;
      width: 268px;
      height: 60px;
      border-radius: 10px;
      background: #fefeff;
      transform-origin: center center;
      transform: scale(1);
      transition: transform 0.5s;
      position: relative;
}

.next {
  top: 0;
}
.previous {
  bottom: 0;
}

#img-responsive {
  border-radius: 10px 0px 10px 0px;
  width: 100%;
  height: 60px;
}
.no_margin {
  margin-top: 22px;
  margin-left: 10px;
  position: absolute;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}

#img-responsive:hover {
  cursor: pointer;
}

.vid-container {
  width: 100%;
}
